export WHATSAPP_ACCESS_TOKEN="EAAFcWrd3UgMBOyFAS8T7cvGdiQAJC8pvlLFGSw1UgQjBipS0PK8r4PyewyNW6T4RSN5JdD0ECZAZC5HO6V03OXfnRkY4yH0khwkci47nWDRWykPCWCKmgPhOSaXcSdvoGNVJXmlMrS8KZCZCIhBZAazlRoFBFKak1xmfOK9aXdptP2es5SXOqFUNrxEwRMqlF5Yba5RWeXb3TCxMaevxN6kgma1HJhqBPqgIZD"
export WHATSAPP_PHONE_NUMBER_ID="526994293835893"
export WHATSAPP_WEBHOOK_URL="https://4e31-4-240-39-195.ngrok-free.app/webhook" # e.g., https://xxxxx.ngrok-free.app/webhook
export WHATSAPP_VERIFY_TOKEN="BruceNicoleKoome" # A string you create